
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@400;700;900&family=Roboto:wght@100;300;500;700&display=swap');

body {
    background: black;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 24px; 
}


p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

section {
    margin: 100px auto;
}   
    
.banner {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    height: 650px;
    border-bottom: 1px solid #33a8db80;
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    background: -webkit-linear-gradient(#33a8db80, #1472b7);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
}


.banner p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 16px 0 24px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .banner-content button {
    color: #31a8dd;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font: 1rem;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: transparent;
    border-image: linear-gradient(#3ba1cd, #1572b7);
    border-image-slice: 10;
    border-radius: 30px;
}

#course-content {
    width: 800px;
    text-align: center;
}

#course-content .modules-list {
    display: inline-block;
    margin: 24px 0;
}

#course-content .modules-list .module {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33a8bd;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}

#course-content .modules-list .module span {
    color: #33a8db;
}

#transform-world {
    font-family: 'Raleway', sans-serif;
    height: 250px;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33a8bd;
    border-bottom: 1px solid #33a8bd;
    padding: 100px;
}

#transform-world p {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    filter: drop-shadow(3px 2px 4px rgba(51, 168, 219, 1)); 
}

#professional-challenges {
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top:1px solid #33a8db80 ;
}

footer .dio-logo{
    width: 300px;
}

footer a {
    font-family: 'Raleway', sans-serif;
    color: #33a8db;
    font-weight: 700;
    text-decoration: none;
}
